@import url(https://fonts.googleapis.com/css?family=Roboto:400);
:root {
    --font-face: 'Roboto', sans-serif;
}

svg text {
    cursor: default;
    user-select: none;
}

.output-container {
    border: 1px solid silver;
    border-radius: 2px;
    font-family: var(--font-face);
}

#cspviewer > #footer {
    margin: 10px;
}

#cspviewer #output {
    margin-top: 5px;
    font-size: 14px;
}