@import url(https://fonts.googleapis.com/css?family=Roboto:400);

:root {
  --font-face: 'Roboto', sans-serif;
}

svg text {
  cursor: default;
  user-select: none;
}

.p-Widget {
  font-family: var(--font-face);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.output {
  margin-top: 5px;
  font-size: 14px;
}

.transition,
.transition * {
  transition: all 0.4s ease-in-out, stroke 0s, fill 0s, stroke-width 0.2s;
}
