{
  "presets": [
    [
      "env",
      {
        "targets": {
          "uglify": true
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
